body {
    text-align: center;
}

article, header {
    padding: 2em 3em;
}


article h3 {
    color: #464547;
}

/* space to spesific clases  */

.learn_more_about_our_cuture {
    position: static;
    background-image: url(../assets/back_video.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    color: aliceblue;
}

.read_btn {

    /* shape button */
    background-color: #39C2D7;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 0;

    /* Font */
    font-family: Oswald Regular;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    letter-spacing: 0.1em;
}

.play_btn {

    /* Font */
    color: #FFFFFF;
    border-radius: 2px;

    /* shape button */
    background-color: #39C2D7;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0;
    font-size: 400%;
}

